*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
:root{
    --primary-color: #FFD2A4;
    --dark-color: #0D0D0D;
}
.container{
    max-width: 1280px !important;
}
.btn_1{
    display: inline-block;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding: 20px 48px;
    border-radius: 12px;
    background-color: var(--primary-color);
}

/* ============= Header ============= */

.navbar{
    background-color: var(--dark-color);
    padding: 12px 0px !important;
}
.navbar-nav{
    gap: 48px;
    margin-left: 128px;
}
.nav-item .nav-link{
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-item .nav-link:hover{
    color: white;
}
.nav-item .nav-link.active{
    color: white !important;
}

/* ============= Banner ============= */

.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner_wrapper{
    padding: 128px 0;
    color: white;
}
.banner_wrapper h6{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.banner_wrapper h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: -1%;
    width: 590px;
    text-transform: uppercase;
    padding: 16px 0 32px 0;
}
.banner_wrapper p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 338px;
    margin-left: 30px;
    margin-top: 64px;
    position: relative;
}
.banner_wrapper p::before{
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: -30px;
    top: 12px;
}
